<div class="form-style-10">
<h1>Find the nearby toilets!</h1>
<form method="POST">
    <div class="section"></div>
    <div class="inner-wrap">
        <label>Source* <input type="text" name="src" placeholder="12.873132,77.601479" size="32" /></label>
        <label>Radius (meters) <input type="text" name="radius" placeholder="Deafult is 1000 m" size="18" /></label>
    </div>
    
    <div class="button-section">
     <input type="submit" name="Give me data!" />
     </span>
    </div>
</form>
</div>